{{ define "main" }}
<article>
    <h1>{{ .Title }}</h1>
    <div class="post-meta">
        <time class="date" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time>
        {{ if .Section }}
            {{ if eq .Section "tutorial" }}
                <span class="tutorial-series">Tutorial Series</span>
            {{ end }}
        {{ end }}
        {{ with .GetTerms "tags" }}
            <span class="post-tags">
                {{ range . }}
                    <a class="kbd" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
                {{ end }}
            </span>
        {{ end }}
    </div>
    {{ .Content }}
    
    {{ if .Section }}
        {{ if eq .Section "tutorial" }}
            <nav class="tutorial-nav">
                <div class="nav-links">
                    {{ if .Params.prev }}
                        <a href="{{ .Params.prev }}" class="prev-link btn"> <i class="ph ph-arrow-fat-left"></i> Previous</a>
                    {{ end }}
                    
                    <a href="{{ .Parent.RelPermalink }}" class="index-link btn">Series Index</a>
                    
                    {{ if .Params.next }}
                        <a href="{{ .Params.next }}" class="next-link btn">Next <i class="ph ph-arrow-fat-right"></i></a>
                    {{ end }}
                </div>
            </nav>
        {{ end }}
    {{ end }}
</article>
{{ end }}